<body>

    <nav class="deep-purple">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Movie Web Site</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="row">
        {movie_tiles}
    </div>


    <script src="static/bower_components/jquery/dist/jquery.js"></script>
    <script src="static/bower_components/Materialize/dist/js/materialize.js"></script>
    <script src="static/js/app.js"></script>

</body>
</html>