<div class="col s12 m3 card">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{poster_image_url}">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">{movie_title}<i
                class="material-icons right">more_vert</i></span>
        <a class="waves-effect waves-light btn" href="https://www.youtube.com/watch?v={trailer_youtube_id}">Watch
            Trailer</a>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">{movie_title}<i class="material-icons right">close</i></span>
        <h5>{release_date}</h5>
        <p>{story_line}</p>
    </div>
</div>

